<h1>About Us</h1>
<p>
   <a href="http://smileworks.in/">Dr. Rashmi Pashine's Dental Clinic'</a>
   is a place to get your teeth shining clean <a href="http://rubyonrails.org/">Indian Dentist Association</a>. This is a sample application           	       for the dental clinic.
</p>